# Inserção de dados

In [1]:
import numpy as np
import pandas as pd
#importar as bibliotecas

In [2]:
data = pd.read_csv('/content/drive/MyDrive/MineracaoDeDados/soybeans1.csv', on_bad_lines='skip')

In [3]:
data2 = data
#criando dados para manipulação

In [4]:
data2=data2.replace({"?":np.nan})

In [5]:
from pandas.io.formats.format import math
for column in data2.columns: #para todas as colunas, faca:
        column_list = data2[column].tolist() # Variável que recebe a coluna como uma lista
        is_num = False # Variável para verificar se o dados presentes nas colunas é numérico

        for item in column_list: # Laço de repetição nos dados da coluna
            if (type(item) == str): # Verifica se o tipo do dado é string (str)
                if(item.isdigit()): # Verifica se a string é um dígito
                    data2[column] = pd.to_numeric(data2[column]) # Muda o tipo da coluna para numérico
                    is_num = True
                    break
            else:
                if(math.isnan(float(item))): # Verifica se o valor é NaN
                    continue
                else:
                    break
        
        if (data2[column].dtype == object and not is_num): # Verificando o tipo da coluna
            data2[column] = data2[column].fillna(data2[column].mode()[0]) # Preenchendo os valores inconsistentes com a moda
        else:
            data2[column] = data2[column].fillna(data2[column].mean()) # Preenchendo os valores inconsistentes com a média

In [6]:
print(data2)

        date plant-stand   precip     temp hail         crop-hist  \
0    october      normal  gt-norm     norm  yes       same-lst-yr
1     august      normal  gt-norm     norm  yes  same-lst-two-yrs
2       july      normal  gt-norm     norm  yes       same-lst-yr
3       july      normal  gt-norm     norm  yes       same-lst-yr
4    october      normal  gt-norm     norm  yes  same-lst-two-yrs
..       ...         ...      ...      ...  ...               ...
678    april      normal  gt-norm     norm  yes  same-lst-two-yrs
679    april   lt-normal  gt-norm  lt-norm  yes     diff-lst-year
680     june   lt-normal  gt-norm  lt-norm  yes     diff-lst-year
681    april   lt-normal  gt-norm  lt-norm  yes       same-lst-yr
682     june   lt-normal  gt-norm  lt-norm  yes       same-lst-yr

    area-damaged    severity   seed-tmt germination  ... fruit-pods  \
0      low-areas  pot-severe       none      90-100  ...       norm
1      scattered      severe  fungicide       80-89  ...       norm
2      scattered      severe  fungicide       lt-80  ...       norm
3      scattered      severe       none       80-89  ...       norm
4      scattered  pot-severe       none       lt-80  ...       norm
..           ...         ...        ...         ...  ...        ...
678  upper-areas  pot-severe       none       80-89  ...       norm
679    scattered  pot-severe       none       80-89  ...        dna
680    scattered  pot-severe       none       80-89  ...        dna
681  whole-field  pot-severe       none       80-89  ...        dna
682  whole-field  pot-severe       none       80-89  ...        dna

    fruit-spots  seed mold-growth seed-discolor seed-size shriveling   roots  \
0           dna  norm      absent        absent      norm     absent    norm
1           dna  norm      absent        absent      norm     absent    norm
2           dna  norm      absent        absent      norm     absent    norm
3           dna  norm      absent        absent      norm     absent    norm
4           dna  norm      absent        absent      norm     absent    norm
..          ...   ...         ...           ...       ...        ...     ...
678      absent  norm      absent        absent      norm     absent    norm
679      absent  norm      absent        absent      norm     absent  rotted
680      absent  norm      absent        absent      norm     absent  rotted
681      absent  norm      absent        absent      norm     absent  rotted
682      absent  norm      absent        absent      norm     absent  rotted

                     class teste num
0    diaporthe-stem-canker    1.0000
1    diaporthe-stem-canker    2.0000
2    diaporthe-stem-canker    3.0000
3    diaporthe-stem-canker    4.0000
4    diaporthe-stem-canker    4.0000
..                     ...       ...
678           2-4-d-injury    5.8875
679       herbicide-injury    5.8875
680       herbicide-injury    5.8875
681       herbicide-injury    5.8875
682       herbicide-injury    5.8875

[683 rows x 37 columns]

In [ ]:
data2.isnull().sum() #mostrando a quantidade de dados NaN novamente

In [ ]:
data2 #mostrando todo o dataframe

In [ ]:
data2.to_csv('soybeanTratado1.csv', sep=',', encoding='utf-8', index = False) #exportando o dataframe tratado